<div class="row">
  <h1> Error 404!<span> Page Not Found</span></h1>
  <hr>
  <center class="headColor">Sorry, we can't find that page! Don't worry though, everything is STILL AWESOME!</center>
  <hr>
</div>