<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>My name is <b>Ashish Kumar</b>. I am studying in <b>Seneca College.</b> My id is <b>145529202</b>. You can
        contact me via email. My email id is <b>"akumar176@myseneca.ca"</b>.</p>
      <p> I am learning web developement using the Express js framework. This website has been created using the nodejs
        and Express.</p>
      <p><b>nodejs</b> is amazing. I am able to make website using the javascript. I am loving this learning journey.
      </p>
      <p>Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et imperdiet turpis. Proin aliquet, lectus
        ultrices fringilla lobortis, purus risus imperdiet neque, eget consectetur ligula quam non arcu. Curabitur vitae
        posuere elit, in faucibus felis. Suspendisse vitae nisl eget ligula condimentum bibendum in ut nulla. Etiam non
        lacinia turpis. Aliquam placerat est vestibulum turpis pretium elementum. Integer pharetra gravida massa, at
        aliquam turpis pulvinar sit amet. Nam a lectus sed mauris suscipit commodo a non ipsum. Aenean dapibus porttitor
        massa vitae auctor. Donec quis ultricies orci. Etiam semper, lectus vitae tristique ullamcorper, risus lectus
        semper nulla, quis accumsan sem leo at neque.</p>
      <p>Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum. Vestibulum id justo metus. Etiam id
        lacinia nulla. Fusce aliquet convallis mauris iaculis iaculis. Suspendisse et eleifend tortor. Nunc non
        tincidunt lorem. Integer consectetur magna felis, vel mattis diam varius id. Morbi elementum semper purus, nec
        ullamcorper neque mattis in. Nulla facilisi. Vivamus mollis justo eget urna bibendum sodales.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Keep visiting my website to see new content.</p>
  </aside>
</div>