<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>I am full stack web developer. I have experience developing restful API in Express Js and making usage of API
        in PHP.
        I have strong grip over Advance Javascript ES6, Socket IO and Express Js. </p>

      <p>For backend, I can work in NodeJs and PHP. I have experience with Relational Database Management Systems such
        as MySql and PostgreSql, and Non-Relational Database Management Systems such as "MongoDb".
      </p>

      <p>
        I can make Responsive and Advance Front end Web design using HTML5, CSS3, ES6, AJAX, JQuery and Bootstrap 5

      </p>
      <p>
        I have experience working with third party API such as twilio, Facebook Meta, Plivo, Nexmo and Easypaisa Payment
        Gatweay.

      </p>
      <p>
        I also love working in web automation and scraping. I have good experience with Puppeteer and web scraping using
        node-fetch and cheerio modules.
      </p>

      <p>
        I have good experience on cloud web applications deployment. I have deployed apps to various popular cloud
        providers such AWS, Azure and Digital Ocean.

      </p>
      <p>
        Also, I use Git and GitHub technologies to save code, contribute and work other developers.

      </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Keep visiting my website to see new content.</p>
  </aside>
</div>