<div class="row">
  <div class="col-md-12">

    <h2>Add Category</h2>

    <br />

    <form method="post" action="/categories/add">
      <fieldset>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">Category:</label>
              <input autofocus class="form-control" id="title" name="category" type="text" />
            </div>
          </div>
        </div>        
      </fieldset>

      <hr />

      <input type="submit" class="btn btn-primary pull-right" value="Add Post" /><br /><br /><br />

    </form>
  </div>
</div>