<div class="row">
            <div class="col-md-12">

                <h2>fuck ( mazanlabeeb95@gmail.com ) History</h2>
                <hr />

                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Login Date/Time</th>
                                <th>Client Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2022-08-01T17:49:01.000Z</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                    Chrome/103.0.0.0 Safari/537.36</td>
                            </tr>
                            <tr>
                                <td>2022-08-01T22:21:32.000Z</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                    Chrome/103.0.0.0 Safari/537.36</td>
                            </tr>
                            <tr>
                                <td>2022-08-01T22:25:28.000Z</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                    Chrome/103.0.0.0 Safari/537.36</td>
                            </tr>
                            <tr>
                                <td>2022-08-02T18:28:02.000Z</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                    Chrome/103.0.0.0 Safari/537.36</td>
                            </tr>
                            <tr>
                                <td>2022-08-02T18:35:48.000Z</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                    Chrome/103.0.0.0 Safari/537.36</td>
                            </tr>
                            <tr>
                                <td>2022-08-15T10:10:44.000Z</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                    Chrome/104.0.0.0 Safari/537.36</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>