  <div class="row">
            <div class="col-md-12">

                <h2>Register</h2>
                    {{#if errorMessage}}
                 <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
                    {{/if}}
                    {{#if successMessage}}
                 <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div>
                    {{/if}}

                <hr />



                <form method="post" action="/register">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="userName" name="userName" type="text"
                                    placeholder="User Name" required value="{{#if userName}}{{userName}}{{/if}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="password" name="password" type="password"
                                    placeholder="Password" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="password2" name="password2" type="password"
                                    placeholder="Confirm Password" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="email" name="email" type="email"
                                    placeholder="Email Address" required />
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success pull-right" value="Register" />
                </form>

            </div>
        </div>